//- begin about
section.about#about
  .container
    h2.title Про нас
    .about__info
      .about__img
        img(src="assets/img/about.jpg" alt="image")
      .about__descr
        p MEDICAL CLINICS GROUP - це система приватних закладів охорони здоров’я, в якій покращують здоров’я людей, що прагнуть стабільно високих стандартів якості, економічної ефективності, академічної та наукової досконалості та результативності.
        p Ми прагнемо покращити здоров’я людей, яких ми обслуговуємо, надаючи широкий спектр послуг з урахуванням індивідуальних потреб наших пацієнтів та членів їх сімей.
    h3.about__subtitle Наші принципи
    ul.about__list
      //- begin about-item
      li.about__item.about-item
        .about-item__icon
          +svg('man')
        h4.about-item__title Персональний супровід
        .about-item__descr
          p Реалізуємо індивідуальні програми обстеження та лікування
          p З повагою, турботою та великою емпатією ставимося до кожного пацієнта
          p Пропонуємо максимально комфортні умови обстеження та лікування
          p Гарантуємо повну конфіденційність нашого спілкування
      //- end   about-item
      //- begin about-item
      li.about__item.about-item
        .about-item__icon
          +svg('fingerprint')
        h4.about-item__title Сучасні технології
        .about-item__descr
          p Працюємо за міжнародними клінічними протоколами
          p Реалізуємо програми точної діагностики із застосуванням надсучасного обладнання
          p Базуємо діяльність на новітніх досягненнях світової практики
          p Керуємося стандартами ВООЗ
      //- end   about-item
      //- begin about-item
      li.about__item.about-item
        .about-item__icon
          +svg('man-check')
        h4.about-item__title Кращі фахівці
        .about-item__descr
          p Пропонуємо послуги кращих експертів у своїй сфері
          p Пишаємося високим професіоналізмом наших лікарів
      //- end   about-item
//- end   about
