//- begin footer
.footer
  .container
    .footer__title Додаток Medical Clinics
    .footer__apps
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer__app
        img(src="assets/img/appstore.jpg" alt="Medical Clinics")
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer__app
        img(src="assets/img/googleplay.jpg" alt="Medical Clinics")
    .footer__copyright © Medical Clinics, 2022
//- end   footer