//- begin header
header.header
  .container
    nav.header__menu.header-menu
      ul.header-menu__list
        li.header-menu__item
          a(href="#clinics").header-menu__link Наші клініки
        li.header-menu__item
          a(href="#about").header-menu__link Про нас
        li.header-menu__item
          a(href="#contacts").header-menu__link Контакти
//- end   header