*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;

  strong {
    font-weight: 400;
  }
}

a {
  transition: color $transition;
  text-decoration: none;
  color: $link;

  &:hover {
    color: $link-hov;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

input,
textarea,
select,
button {
  border-radius: 5px !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;

  @include placeholder-color($text);
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  -webkit-overflow-scrolling: touch;
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;

  @include min(768) {
    padding: 24px 40px;
  }
  @include min(1100) {
    padding: 48px 80px;
  }
}

.title {
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
  text-transform: uppercase;

  @include responsive-font(48, 32);
  @include min(768) {
    margin-bottom: 24px;
  }
  @include min(1024) {
    margin-bottom: 48px;
  }
}
