@mixin min($width) {
  @media screen and (min-width: $width + 'px') {
    @content;
  }
}

// ===== placeholder style =====
@mixin placeholder-color($color) {
  opacity: 1;
  /* Chrome/Opera/Safari */
  &::-webkit-input-placeholder {
    opacity: 1;
    color: $color;
  }
  /* Firefox 19+ */
  &::-moz-placeholder {
    opacity: 1;
    color: $color;
  }
  /* IE 10+ */
  &:-ms-input-placeholder {
    opacity: 1;
    color: $color;
  }
  /* Firefox 18- */
  &:-moz-placeholder {
    opacity: 1;
    color: $color;
  }
}

// ===== responsive font =====
@mixin responsive-font($pcSize, $mobSize) {
  $maxWidth: 1280; //контейнер
  $addSize: $pcSize - $mobSize; //разница в размере
  $maxWidth: $maxWidth - 360; //разница в контейнерах
  font-size: $pcSize + px; //размер на десктопе
  @media (max-width: 1280px) {
    font-size: calc(#{$mobSize + px} +      #{$addSize}       * ((100vw - 360px)  / #{$maxWidth}));
  }
}